# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.os

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Python
*.pyc
*.pyo

# Scons
.sconsign*

# ipynb notebook checkpoints directories
*/.ipynb_checkpoints*

*.swp
bin/
build/
*.dat
/borealis_env3.11
/borealis.egg-info
borealisscreenrc
/cppzmq
*.gz
LATEST.tar.gz.1
LATEST.tar.gz.2
/libsodium-stable
/ntp-4.2.8p13
/libzmq
scripts/eers
